.download-button {
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  background: rgba(0,0,0,0.5);
  border-radius: 3px;
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  height: 45px;
  line-height: 45px;
  cursor: pointer;
  padding: 0 10px;
}